:root {
  /* --color-primary: ;
  --color-secondary: ;
  --bg-primary: ;
  --bg-secondary: ; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lobster', cursive;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  outline: none;
}

.board {
  padding: 2rem;
  border-radius: 1rem;
  /* box-shadow: ; */
  background-color: red;
  width: 60rem;
  display: flex;
  flex-direction: column;
}

.board h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 1rem;
}

main {
  display: flex;
  justify-content: space-between;
}

main .sidebar {
  width: 20%;
}

.sidebar .tools, 
.sidebar .sizes {
  width: 100%;
  margin-bottom: 2rem;
}

.button-tools,
.button-sizes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: .5rem;
}

.btn-tools {
  width: 3rem;
  height: 3rem;
  font-size: 18px;
  font-weight: bold;
}





main .grids {
  width: 42rem;
  height: 42rem;
  background-color: #ffffff;
}

#main-footer {
  position: fixed;
  bottom: 0;
  padding: .5rem 0;
  width: 100%;
  text-align: center;
}

#main-footer a {
  text-decoration: none;
}